.cart{
    background-color:rgba(0, 0, 255, 0.39);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    color: white;
    border-radius: 20px;
    margin-top: 5px;
    text-align: left;
}
.name{
    color:black
}
.select-btn{
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    background-color:rgb(233, 13, 204);
    color: white;
}