.member{
    background-color:cyan;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}
.member img{
    width: 220px;
    height: 220px;
    border-radius:50%;
}
.addtolist-btn{
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    background-color:rgba(13, 17, 233, 0.801);
    color: white;
}
.police-icon{
    padding: 10px;
    font-size: 30px;
    color: rgba(0, 0, 255, 0.788);
    margin-top: 20px;
}